section {
  height: 120vh;
  background-color: gold;
}

.score {
  color: blue;
}

.intro button{
  width:100px;
  height:75px;
  background:red;
  color: white;
  font-size:15px;
}

.match {
  top:50%;
  left:50%;
}